<link rel="stylesheet" href="css/index.css">
<!-- navigation bar -->
<%- include('./partials/header'); -%>

<!-- product cartigory section -->
<section id="cartigory">
  <div class="product-cartigory color-navbar2">
    <ul class="cartigory-wrapper-phone">
      <li class="filter">
        <a href="#">Filter</a>
      </li>
      <% if(userId ===null ) { %>
      <li class="wrapper-login-phones">
        <a class="nav-login-phone" href="/user/login">Login</a>
        <a class="nav-signup-phone" href="/user/signup">Sign up</a>
      </li>
      <% } %>
    </ul>
    <ul class="cartigory-wrapper">
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="home">Home appliances</h4>
        </div>
        <ul class="item-list">
          <li><a href="./index.html">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="phone">Phones</h4>
        </div>
        <ul class="item-list">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="computer">Computers</h4>
        </div>
        <ul class="item-list">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="game">Games</h4>
        </div>
        <ul class="item-list">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="fashion">Fashions</h4>
        </div>
        <ul class="item-list">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="housing">Housing</h4>
        </div>
        <ul class="item-list">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <li class="cartigory-items">
        <div class="cartigory-name">
          <h4 class="accessorie">Accessories</h4>
        </div>
        <ul class="item-list">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<!-- product cards -->
<section id="product-cards">
  <div class="cards-container">
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">

      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
    <a class="cards-item" href="#">
      <div class="img-container">
        <img class="product-img" src="./cartigory/home-appliances.jpeg" alt="home-appliances">
      </div>
      <div class="cards-details">
        <h3 class="product-name">Home-appliances</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </a>
  </div>
</section>

 <%- include('./partials/footer'); %>