<%- include('./partials/header'); -%>
<h1>hello seller</h1>
<section>
    <form action="" method="post">
        <div class="">
            <label for="cartigory">Cartigorys</label>
            <select name="cartigory" id="cartigory">
                <option value="games">Game</option>
                <option value="computers">Computer</option>
                <option value="fashing">Fashing</option>
                <option value="husing">Husing</option>
            </select>
        </div>
        <div class="">
            <label for="brand"> Brand
                <select name="brand" id="brand">
                    <option value="samsung">Samsung</option>
                    <option value="vivo">Vivo</option>
                    <option value="moto">Motrola</option>
                    <option value="xiaomi">Xiaomi</option>
                </select>
            </label>
        </div>
        <div class="">
            <label for="product-name"><span>Product Name</span></label>
            <input id="product-name" name="productName" type="text" required autocomplete="off">
        </div>
        <div class="">
            <label for="discreption">Discreption</label>
            <textarea name="discreption" id="discreption" cols="auto" rows="auto" minlength="20" maxlength="100"
                required></textarea>
        </div>
        <div class="">
            <input name="product_image" type="file" accept="image/*" multiple maxlength="3">
        </div>
        <button type="submit">sell now</button>

    </form>
</section>

<%- include('./partials/footer'); %>