<%-include("./partials/header")-%>
<%-include("./partials/category")-%>
<link rel="stylesheet" href="css/index.css">
<div id="root" class="cards-container"></div>
<script defer src="js/cart.js"></script>