<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/register.css" />
  <link rel="stylesheet" media="screen and (min-width: 900px)" href="css/widescreen.css" />
  <link rel="stylesheet" media="screen and (max-width: 899px)" href="css/smallscreen.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <title>Signup</title>
</head>

<body>

  <!-- navigation bar -->
  <section id="title">
    <nav class="navbar color-navbar">
      <!-- site name -->
      <a class="nav-brand" href="index.html">site name</a>
    </nav>
  </section>
  <% try { %> 

    <% if (inform !== '') { %> 
       <p><%= inform %> </p>
    <% } %> 
  <% }catch (e) {} %> 

  <!-- Form start-->
  <div class="signup-home">
    <main class="signup-header color-navbar">
      <div>Sign Up</div>
    </main>
    <div class="signup-sec">
      <form action="signup" method="POST">
        <div class="input-sec">

          <div>Name<small style="color:red">*</small></div>
          <input type="text" name="name" class="boxes" placeholder="Enter your full name" required>

          <div>Username</div>
          <input type="text" name="username" class="boxes" placeholder="Enter a username" autocomplete="username">

          <div>Email<small style="color:red">*</small></div>
          <input type="email" name="email" class="boxes" placeholder="eg@service.com" required autocomplete="email">

          <div>Password<small style="color:red">*</small></div>
          <input id="password" type="password" name="password" class="boxes" placeholder="Enter a strong password"
            minlength="6" required autocomplete="new-password">
          <div>Confirm Password<small style="color:red">*</small></div>
          <input id="passwordconfirm" type="password" class="boxes" placeholder="Confirm your password" required
            autocomplete="new-password">
        </div>

        <div class="terms">
          <i>
            <span><input type="checkbox" required> I accept the </span> <a href="#">Terms and Conditions</a>
          </i>
        </div>
        <div class="signup-button">
          <button type="submit">SignUp</button>
        </div>
      </form>


      <div class="or">
        <hr>
        <p>OR</p>
      </div>
      <div class="fg-buts">
        <button class="color-navbar" type="button">Google</button>
        <button class="color-navbar" type="button">Facebook</button>
      </div>
      <div class="login">
        <p>Already have an account? <a href="login">Login</a></p>
      </div>
    </div>
  </div>
  <footer class="color-navbar">
    <span>i'm here</span>
  </footer>
  <script src="js/javaScript.js"></script>
</body>

</html>