<section id="title">
  <nav class="navbar color-navbar">
    <% if(userId !==null ) { %>
    <!-- menu -->
    <div class="menu">
      <!-- hamburger menu icon -->
      <div class="hamburger" id="hamburger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <!-- close menu icon-->
      <div class="close-icon" id="close-menu-icon">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <% } %>
    <!-- site name -->
    <a class="nav-brand" href="/">site name</a>
    <!-- search -->
    <div class="nav-search">
      <form class="search-form">
        <input class="search-input" type="search" name="q" aria-label="Search through site content"
          placeholder="search" />
        <button class="search-btn color-btn"><i class="fas fa-search search-icon"></i></button>
      </form>
    </div>
    <!-- cart -->
    <a class="shopping-cart" href="#">
      <span class="fas fa-shopping-cart cart-icon"></span>
    </a>
    <% if(userId === null ) { %>
    <!-- nav login button -->
    <a class="nav-login" href="/user/login">login</a>
    <!-- nav sign up button -->
    <a class="nav-signup" href="/user/signup">Sign up</a>
    <% } if(userId !==null ) { %>
    <!-- profile -->
    <ul class="profile-wrapper" id="menu-on-phone">
      <li>
        <div class="user-profile" id="profile-menu">
          <div class="user-img-container">
            <% if(userId.profilePhoto.imageType !== undefined) {%>
            <img class="profile-img"
              src="data:<%= userId.profilePhoto.imageType%>;base64,<%=userId.profilePhoto.imageBase%>"
              alt="profile imge">
            <% }else{ %>
            <img class="profile-img" src="logo/profile.jpeg " alt="profile imge">
            <% } %>
          </div>
        </div>
        <ul>
          <li>
            <div class="profile-settings" id="prof-settings">
              <div class="user-name color-btn">
                <h3> Hi <%= userId.name %> </h3>
              </div>
              <ul class="profile-list">
                <li>
                  <a href="/user/profile">Profile</a>
                </li>
                <li>
                  <a href="#">Chats</a>
                </li>
                <li>
                  <a href="/user/seller/sell-now">Sell Now</a>
                </li>
                <li>
                  <a href="/user/logout">Sign out</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <% } %>
  </nav>
</section>
<!-- search bar only show on mobile Phones -->
<section id="search-bar-mobile">
  <div class="search-for-mobile">
    <form class="search-form">
      <input class="search-input" type="search" name="q" aria-label="Search through site content" placeholder="Search">
      <button class="search-btn"><i class="fas fa-search search-icon"></i></button>
    </form>
  </div>
</section>